/VisitorsTracker.Core/obj/Debug/netcoreapp3.1/VisitorsTracker.Core.csprojAssemblyReference.cache
/VisitorsTracker.Db/obj/Debug/netcoreapp3.1/VisitorsTracker.Db.csprojAssemblyReference.cache
/.vs/VisitorsTracker/DesignTimeBuild/.dtbcache.v2
/.vs/VisitorsTracker/DesignTimeBuild/.dtbcache.v2
/.vs/VisitorsTracker/DesignTimeBuild/.dtbcache.v2
/.vs/VisitorsTracker/DesignTimeBuild/.dtbcache.v2
/.vs/VisitorsTracker/DesignTimeBuild/.dtbcache.v2
/.vs/VisitorsTracker/v16/.suo
/VisitorsTracker.Core/obj/Debug/netcoreapp3.1/VisitorsTracker.Core.csprojAssemblyReference.cache
/.vs/VisitorsTracker/v16/.suo
/VisitorsTracker.Core/bin/Debug/netcoreapp3.1/VisitorsTracker.Core.dll
/VisitorsTracker.Core/bin/Debug/netcoreapp3.1/VisitorsTracker.Core.pdb
/VisitorsTracker.Core/obj/Debug/netcoreapp3.1/VisitorsTracker.Core.csprojAssemblyReference.cache
/VisitorsTracker.Core/obj/Debug/netcoreapp3.1/VisitorsTracker.Core.dll
/VisitorsTracker.Core/obj/Debug/netcoreapp3.1/VisitorsTracker.Core.pdb
/.vs/VisitorsTracker/v16/.suo
